__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
.env
*.egg-info/
dist/
build/
.pytest_cache/
*.log
.DS_Store
show.json
strategyqa_dataset.zip
download_hf_dataset.py
datasets
dimensions_output/
.idea/
model
outputs/
evaluation
evaluation/